SECRET_KEY=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
HOST=
PORT=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

STRIPE_TEST_SECRET_KEY=
STRIPE_TEST_PUBLISHABLE_KEY=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=